/* Reset default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
/* Theme-specific styles */
[data-theme='light'] {
  /* Light theme styles */

  color: rgb(0, 0, 0);
  height: 100vh;
}

[data-theme='dark'] {
  /* Dark theme styles */
  color: rgb(255, 255, 255);
  background-color: rgba(28, 43, 46, 0.7);
  height: 100vh;
}

html {
  height: 100%;
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1em,
      rgba(127, 215, 245, 0.4) 0,
      rgba(127, 215, 245, 0.1) 2em,
      transparent 0,
      transparent 1em,
      rgba(127, 215, 245, 0.3) 0,
      rgba(127, 215, 245, 0.2) 4em,
      transparent 0,
      transparent 1em,
      rgba(192, 235, 250, 0.6) 0,
      rgba(192, 235, 250, 0.2) 2em
    ),
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 1em,
      rgba(127, 215, 245, 0.4) 0,
      rgba(127, 215, 245, 0.1) 2em,
      transparent 0,
      transparent 1em,
      rgba(127, 215, 245, 0.3) 0,
      rgba(127, 215, 245, 0.2) 4em,
      transparent 0,
      transparent 1em,
      rgba(192, 235, 250, 0.4) 0,
      rgba(192, 235, 250, 0.1) 2em
    ),
    #fff;
  background-blend-mode: multiply;
}

body {
  padding: 40px;
  font-family: 'Sofia';
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Sofia';
  text-align: center;
}

.weather-card {
  background-color: rgba(206, 248, 253, 0.3);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  
}

.weather-card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.weather-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.weather-card p {
  font-size: 16px;
  margin-bottom: 15px;
}

.weather-card .weather-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}

.weather-card .temperature {
  font-size: 48px;
  font-weight: bold;
}

.weather-card .location {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.weather-card .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-card .details-item {
  display: flex;
  align-items: center;
}

.weather-card .details-item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search input {
  padding: 5px;
  margin-right: 10px;
}

.search-button {
  margin: 0.5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #54c3fa;
  border: none;
  box-shadow: 0 3px rgb(53, 137, 164);
}

.search-button:hover {
  background-color: #3e8e41;
}

.search-button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.language-select {
  position: absolute;
  top: 20px;
  right: 20px;
}

.language-button {
  margin: 0.5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8ad8ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px rgb(53, 137, 164);
}

.language-button:hover {background-color: #3e8e41}

.language-button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
.theme-button{
  margin: 0.5px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8ad8ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px rgb(53, 137, 164);
}

.theme-button:hover {background-color: #3e8e41}

.theme-button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
